.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.selector {
    flex: 0 0 50%
}

h1, h2, h3, ol {
    margin-top: 3px;
    margin-bottom: 3px;
}
  
.player-panel {
    flex: 0 0 50%
}

#player {
  width: 320px;
  height: 195px;
  background-color: black;
}

.part {
    padding-top: 3px;
    padding-bottom: 3px;
}

.hide {
    display: none;
}

#title {
    font-size: 1.1em;
    font-weight: bold;
}

@media (max-width: 600px) {
  .container {
    justify-content: flex-start;
  }

  .selector {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .player {
    flex: 0 0 100%;
  }
}
