.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.selector {
    flex: 0 0 50%
}

h1, h2, h3, ol {
    margin-top: 3px;
    margin-bottom: 3px;
}
  
.player-panel {
    flex: 0 0 50%
}

#player {
  width: 320px;
  height: 180px;
  background-color: black;
}

.part {
    padding-top: 3px;
    padding-bottom: 3px;
}

.hide, .collapsed {
    display: none;
}

h3 {
  cursor: pointer;
}

.arrow {
  border: 5px solid transparent;
  border-left: 5px solid black;
  display: inline-block;
  vertical-align: middle;
}

.arrow-expanded {
  border: 5px solid transparent;
  border-top: 5px solid black;
}

#title {
    font-size: 1.1em;
    font-weight: bold;
}

@media (max-width: 600px) {
  .container {
    justify-content: flex-start;
  }

  .selector {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .player {
    flex: 0 0 100%;
  }
}
